.d-flex {
  display: flex;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.justify-content-end {
  justify-content: end;
}

.flex-column {
  flex-direction: column;
}
