<div class="dashboard">
  <div class="dashboard__header">
    <h1 class="dashboard__header--title">Popular Products</h1>
    <h2 class="dashboard__header--subtitle">Selected Exclusively</h2>
  </div>
  <div class="dashboard__list d-flex">
    <div class="dashboard__list--header d-flex justify-content-space-between">
      <h3 class="">Top Sales</h3>
      <app-icon icon="icon-dot"></app-icon>
    </div>
    <div class="dashboard__list--item d-flex">
      <app-list-item
        *ngFor="let item of listItems"
        [image]="item.image"
        [title]="item.title"
        [review]="item.review"
        [rating]="item.rating"
        [isSale]="item.isSale"
        [money]="item.money"
        [totalMoney]="item.totalMoney"
        [tag]="item.tag"
        class="dashboard__list--item"
      ></app-list-item>
    </div>
  </div>
  <div class="d-flex dashboard__cards">
    <div class="dashboard__card" *ngFor="let card of cards">
      <app-card
        [imageSrc]="card.image"
        [title]="card.title"
        [rating]="card.rating"
        [description]="card.description"
        [money]="card.money"
      ></app-card>
    </div>
  </div>
</div>
