@import "~assets/scss/mixins";

.card {

  &:not(:last-child) {
    margin-right: 28px;
  }

  @include breakpoint-down(medium) {
    &:not(:last-child) {
      margin-right: 0px;
      margin-bottom: 28px;
    }
  }
}
