<div class="p-4 bg-white h-full">
  <div class="dashboard-header">
    <h1 class="flex font-medium text-3xl line-height-4 mb-3 title">
      Popular Products
    </h1>
    <h2 class="flex font-normal text-xl line-height-2 mb-5 text-500 subtitle">
      Selected Exclusively
    </h2>
  </div>
  <div class="flex flex-column shadow-2 pr-5 pt-4 b-5 mpl-5 pb-5 pl-4  mb-4">
    <div class="flex justify-content-between">
      <div class="w-full mb-4 text-lg font-normal">Top Sales</div>
      <app-icon icon="icon-dot"></app-icon>
    </div>
    <div class="dashboard-list-item flex flex-column">
      <app-list-item
        *ngFor="let item of listItems"
        [image]="item.image"
        [title]="item.title"
        [review]="item.review"
        [rating]="item.rating"
        [isSale]="item.isSale"
        [money]="item.money"
        [totalMoney]="item.totalMoney"
        [tag]="item.tag"
        class="dashboard-list-item"
      ></app-list-item>
    </div>
  </div>

  <div class="grid">
    <div class="col-12 md:col-6 lg:col-4" *ngFor="let card of cards">
      <app-card
        [imageSrc]="card.image"
        [title]="card.title"
        [rating]="card.rating"
        [description]="card.description"
        [money]="card.money"
      ></app-card>
    </div>
  </div>
</div>
