<div class="mb-6 pl-4" [ngClass]="container">
  <div class="mb-2">
    <h5 class="flex text-md text-600 line-height-2 font-normal p-2">
      {{ title }}
    </h5>
  </div>
  <ng-container *ngFor="let item of items">
    <div
      class="flex justify-content-between wrapper-card"
      [ngClass]="item.isActive ? 'pl-2 border-right-1 border-primary shadow-2 border-round' : ''"
    >
      <a class="flex mr-3 align-items-center cursor-pointer">
        <app-icon
          class="link-icon mr-2  "
          [icon]="item.icon"
        ></app-icon>
        <p
          class="text-sm inline text-black-alpha-90 font-medium line-height-2 p-2"
        >
          {{ item.text }}
        </p>
      </a>
      <div
        class="flex justify-content-center align-items-center p-2 w-1rem h-1rem bg-blue-500 text-sm line-height-2 border-circle text-800"
        *ngIf="item.badge"
      >
        {{ item.badge }}
      </div>
    </div>
  </ng-container>
</div>
