@import "~assets/scss/variables";

.sidebar {
  flex-direction: column;
  width: 17.5rem;
  height: 100%;
  background: $white;
  border: 1px solid #e0e0e0;

  &__items {
    padding: 0.875rem 0 0 0.875rem;
  }

  &__image {
    margin-bottom: 0.875rem;
    height: 3.75rem;
  }

  &__profile {
  }
}

