<div
  class="flex flex-column w-17rem h-full bg-white border-bluegray-100 border-1"
>
  <img class="mb-3 h-4rem" src="assets/images/logo.svg" />
  <div class="h-100">
    <app-siderbar-items
      title="FAVORITES"
      [items]="favouriteSideBarItems"
    ></app-siderbar-items>
    <app-siderbar-items
      title="APPLICATION"
      [items]="applicationSideBarItems"
    ></app-siderbar-items>
  </div>
  <div class="border-top-1 mx-4 border-600">
    <app-sidebar-profile userName="Amy Elsner"></app-sidebar-profile>
  </div>
</div>
