@import "~assets/scss/mixins";

.list {
  width: 100%;

  @include breakpoint-down(medium) {
    width: 100vw;
  }

  &__information {
    @include breakpoint-down(medium) {
      display: block;
    }
  }

  &__image {
    width: 4.875rem;
    height: 4.875rem;
    border-radius: 10px;
    margin-right: 0.875rem;
  }

  &__title {
    font-weight: 500;
    font-size: 17.5px;
    line-height: 26px;
    color: #212121;
  }

  &__tags {
    &--text {
      font-size: 14px;
      line-height: 21px;
      color: #757575;
      margin: 8.5px 14px 8.5px 0;
    }

    &--sale {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #852196;
      background: #e7cbec;
      border-radius: 4px;
      margin-right: 0.875rem;
      padding: 0.1875rem;
    }

    &--money {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #419544;
      padding: 0.1875rem;
      background: #d4ecd5;
      border-radius: 4px;
    }
  }

  &__wrapper {
    flex-direction: column;
    &--review {
      font-size: 12px;
      line-height: 18px;
      color: #757575;
    }

    &--money {
      font-weight: 500;
      font-size: 17.5px;
      line-height: 26px;
      color: #212121;
      margin-bottom: 7px;
    }
  }
}

